<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="icon" href="/images/favicon.ico"/>
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]--> 
  </head>
  <body>

    <%= yield %>

    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/functions.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
